.font-link {
  font-family: 'Plus Jakarta Sans';
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  width: 100%;
}

header {
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  margin-top: 2.5%;
  margin-bottom: 2.5%;
} 

h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
}

.about-page > h2 {
  text-align: left;
  font-weight: bold;
}

.article-text > h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  }

.featured-workouts > h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
}

h3 {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* Home page landing section */
.landing-headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.landing-headings > h1 {
  font-size: 5rem;
  font-weight: 700;
}

.landing-headings > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
}

.Home-image {
  width: 400px;
  height: 400px;
}


/* Home page card section
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.card-container > a, .card-link {
  color: black;
}

.cards {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  width: 100%;
  max-width: 400px;
  margin: 30px;
  border-radius: 1.5rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  font-family: 'Plus Jakarta Sans';
}

.card-header{
  display: flex;
  margin: 10px auto 10px 10px;
  align-content: center;
}

.card-header > img{
  border-radius: 50%;
  width: 10%;
}

.card-header p{
  margin-left:20px;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  font-size: 20px;
  align-self: center;
}

.card-content h3 {
  font-size: 22px;
  margin-left: 1rem;
  margin-bottom: 16px;
  color: white;
}

.card-content p {
  font-size: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}

a:link {
  text-decoration: none;
}

*/

/* Begin Resource Card styling */

.resource-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 900px;
  margin: auto;
 }

.resource-card-container {
  display: flex;
  background-color: #f9f5dc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  margin: 20px auto;
  border: 4px solid #f2e596;
}

.resource-card {
  display: flex;
  flex-direction: column;
  font-family: 'Plus Jakarta Sans';
}

.resource-card h3 {
  margin-top: 0;
}

.resource-card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.resource-card a {
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

.resource-card a:hover {
  text-decoration: underline;
  color: darkblue;
}

@media (max-width: 600px) {
  .resource-card-container {
    max-width: 100%;
  }
}

/* End of Resource Card styling */

/* Article page */
.article-body {
  color: black;
}

.article-body > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
}

/* Footer section */

footer {
  display: flex; 
  position: relative;
  bottom: 0;
  width: 100%;
  height: 11rem;
  background-color: #F0EEB7; 
 }

 .full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

footer > div > img {
  width: 100px;
  height: 100px;
}

.footer-slogan {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.footer-slogan h2 {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-slogan p {
  font-style: italic;
}

/* Navbar collapse */
collapse navbar-collapse {
  padding: 25px 25px 25px 25px;
}

#dropdown-button-dark-example1 {
  background-color: #F0EEB7;
  color: black;
}

.color-nav {
  background-color: #F0EEB7;
  font-family: 'Plus Jakarta Sans';
}

/* Extra small devices */
@media (max-width: 600px){
  header {
    background-color: white;
    background-image: none;
  }

  .about-us {
    text-align: center;
  }

  .about-us img {
    display: none;
  }

  .cards {
    width: 90%;
    margin: 15px auto 15px auto;
  }

  .featured-workouts__img > img {
    width: 100%;
  }

  footer {
    display: block;
  }

  .footer-slogan {
    justify-content: center;
    margin: 0;
  }

  .footer-contact {
    text-align: center;
  }
}

/* Small devices */
@media (min-width: 600px){
  header {
    background-color: white;
    background-image: none;
  }

  .about-us {
    text-align: center;
  }

  .about-us img {
    display: none;
  }

  .footer-slogan {
    margin-right: 3rem;
  }
}

/* Medium devices */
/* @media (min-width: 768px) {
  header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../public/img/landing.jpeg');
  }
} */

/* Large devices */
@media (min-width: 992px) {
  .about-us img {
    display: flex;
  }

  .about-us {
    text-align: left;
  }
}