/* CSS for NavBar */

.color-nav {
    background-color: #f9f5dc;
    font-family: 'Plus Jakarta Sans';
  }

  .color-nav a {
    color: #4B0082;
    font-size: 25px; 
}

nav .navbar-brand {
    background: black; 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 50px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
  
#dropdown-button {
    background: linear-gradient(to right, #ffcccc, #ccccff);
    color: #333333; 
    width: fit-content;
    border: none; 
    padding: 10px 20px; 
    font-size: 25px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

#dropdown-button:hover {
    background: linear-gradient(to right, #ccccff, #ffcccc); 
}
  
/* handles styling for when the dropdown menu is clicked */
.dropdown {
    width: auto;
}
  
.dropdown-name{
    display: none;
}
  
.dropdown-image{
    display: none;
    width:  70px;
    height: 70px;
}
  
.dropdown-text {
    float: left;
    vertical-align: middle;
}
  
/* handles sizing of the dropdown as the page shrinks and expands */
@media (min-width:480px) {
  
  
}
  
@media (min-width:768px) {
    .dropdown {
        width: 200px;
    }
    
    .dropdown-name{
      display:inline;
    }
  
    .dropdown-image {
      display: inline;
      width: 3rem;
    }
  
    .dropdown-text {
      float: right;
      vertical-align: middle;
    }
  
}